
.idea/.name
car_data/__pycache__/CARS.cpython-36.pyc
.vs/VehicleVision/v17/DocumentLayout.json
.vs/VehicleVision/v17/Browse.VC.db
.vs/VehicleVision/v17/.wsuo
.vs/VehicleVision/FileContentIndex/ddedb641-4c3a-49f9-a327-3d6213007ed2.vsidx
.vs/VehicleVision/FileContentIndex/4613a40f-238a-4859-88df-287ee4fc563f.vsidx
.vs/VehicleVision/FileContentIndex/cecc5fcb-e915-4b5a-858a-6d56ff497700.vsidx
.vs/VehicleVision/FileContentIndex/3e2317ab-cdd2-4ed9-aea4-a22751f1b41c.vsidx
.vs/slnx.sqlite
.vs/VehicleVision/FileContentIndex/0b301991-d051-4e32-99b6-2fce2c907fd8.vsidx
